.navbar1{
	background-color: purple;
	height: 10%;
}

.navstyle {
  margin-top: 0.5%;
}
.brand1{
  padding-left: 20px;
  line-height: normal;
}

.logo {
	height: 64px;
	width: auto;
	padding-right: 20px;
}

.logs{
	background-color: red;
}
