.navbar1{
	background-color: purple;
	height: 80px;
}

.navstyle {
  margin-top: 5px;
}
.brand1{
  padding-left: 10px;
  line-height: normal;
}

.brand2{
	position: fixed;
  left: 275px;
  top: 10px;
}

.logo {
	position: absolute;
	height: 64px;
	width: auto;
	left: 20px;
	padding-right: 20px;
}

.logs{
	background-color: red;
}
.text-line {
	background-color:  #9068be;
	text-align: center;
	border: none;
	width:150px;
}
.go {
	width: 40px;
}

.listDiv {
	position: fixed;
	left: 300px;
	margin-top: 15px;
}

.list {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
